#!/usr/bin/env bash

# copied / adapted from:
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# https://github.com/alrra/dotfiles/tree/master/src/shell/aliases
#

####### TRUE ALIASES

# Easier navigation (oh-my-zsh already provides some)
alias ~='cd ~' # `cd` is probably faster to type though

# Shortcuts
alias doc='cd ~/Documents'
alias db='cd ~/Dropbox'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias g='git'
alias nii='cd ~/OneDrive/NII'
alias od='cd ~/OneDrive'

# alias for verbose copy move and remove
alias cp='cp -iv'
alias mv='mv -iv'
# alias rm='rm -iv'
# use trash command instead of rm
alias rm='trash'

# clear the screen nicely
alias cls='clear;pwd'

# grep colors
export GREP_OPTIONS='--color=auto'

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

alias la='ls -aF ${colorflag}'
alias ls='ls -hF ${colorflag}'
alias ll='ls -lhF ${colorflag}'
alias lal='ls -alhF ${colorflag}'

# Show human friendly numbers and colors
alias df='df -h'
alias du='du -h'

# Recursively delete `.DS_Store` files
alias cleands='find . -type f -name "*.DS_Store" -ls -delete'

# Show/hide hidden files in Finder
alias showhidden='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hidehidden='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'


# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
alias paths='path'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# IP addresses
alias globalip='dig +short myip.opendns.com @resolver1.opendns.com'
alias localip='ipconfig getifaddr en0'
alias ips='echo "Global IP: `globalip`" && echo "Local IP: `localip`"'

# Homebrew
alias brewup='brew update && brew upgrade && brew cask upgrade && brew cleanup && brew doctor'
