# This is Git's per-user configuration file.
[user]
	name = Stefan Klikovits
	email = klikovits@nii.ac.jp

[core]
    excludesfile = ~/.gitignore
    pager = diff-so-fancy | less --tabs=1,5 -R
	editor = "vim"

#[color "diff"]
#    meta = "yellow bold"
#    commit = "green bold"
#    frag = "magenta bold"
#    old = "red bold"
#    new = "green bold"
#    whitespace = "red reverse"
#[color "diff-highlight"]
#    oldNormal = "red bold"
#    oldHighlight = "red bold 52"
#    newNormal = "green bold"
#
#    newHighlight = "green bold 22"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
